<!DOCTYPE HTML>
<META charset="UTF-8">
<head>
<TITLE>慕课网</TITLE>
<link rel="stylesheet" type="text/css"  href="../style.css"/>
</HEAD>
<BODY>
<DIV class="top">
<DIV class="top_content">
<UL>
  <LI><A href=" #">联系我们</A></LI>
  <LI><A href=" #">加入收藏</A></LI>
  <LI><A  href="#">设为首页</A></LI></UL></DIV></DIV>
<DIV class="wrap">
<DIV class="logo">
<DIV class="logo_left"><IMG alt="慕课网" src="..\images\logo.jpg"></DIV>
<DIV class="logo_right"><IMG alt="服务热线" 
src="..\images\tel.jpg">24小时服务热线:&nbsp;&nbsp;
<SPAN>123-456-789</SPAN></DIV></DIV>
<DIV class="nav">
<DIV class="nav_left"></DIV>
<DIV class="nav_mid">
<DIV class="nav_mid_left">
<UL>
  <LI><A href="../index.html">首页</A></LI>
  <LI><A href=" javascript:void(0);">关于慕课</A></LI>
  <LI><A href=" javascript:void(0);">新闻动态</A></LI>
  <LI><A href="lessons.html">课程中心</A></LI>
  <LI><A href="javascript:void(0);">在线课程</A></LI>
  <LI><A href="javascript:void(0);">人才招聘</A></LI></UL></DIV>
<DIV class="nav_mid_right">
<FORM action="" method="post"><INPUT class="search" type="text">	   
</FORM></DIV></DIV></DIV>
<DIV class="ad" id="picBox" style="height:243px;">
<IMG src="..\images\ad3.jpg">
</DIV>
<div class="list_main">
 <div class="news_type">
 <h2>新闻中心</h2>
 <div class="news_type_content">
    <li><a href="javascript:void(0);">公司新闻</a></li>
    <li><a href="javascript:void(0);">行业新闻</a></li>
    <li><a href="javascript:void(0);">媒体报道</a></li>
	<li><a href="javascript:void(0);">活动专题</a></li>
	<li><a href="javascript:void(0);">精彩视频</a></li>
	 <li><a href="javascript:void(0);">资源下载</a></li>
	<li><a href="javascript:void(0);">公司内刊</a></li>
 </div>
 </div>
 <div class="list_box">
 <h2>新闻中心</h2>
       <ul class="a">
	   <li> <a href="javascript:void(0);">【慕课访谈 用户篇】“有为屌丝在路上”</a><span>2014-06-01</span></li>

        <li> <a href="javascript:void(0);">【有奖活动】给父亲的三行书信</a><span>2014-06-01</span></li>

        <li> <a href="javascript:void(0);">《程序，请晒出你的童年》活动获奖公告</a><span>2014-06-01</span></li>
		      
	   <li> <a href="javascript:void(0);">【慕课访谈 用户篇】“有为屌丝在路上”</a><span>2014-06-01</span></li>

          <li> <a href="javascript:void(0);">【有奖活动】给父亲的三行书信</a><span>2014-06-01</span></li>

          <li> <a href="javascript:void(0);">《程序，请晒出你的童年》活动获奖公告</a><span>2014-06-01</span></li>
						      
		<li> <a href="javascript:void(0);">【慕课访谈 用户篇】“有为屌丝在路上”</a><span>2014-06-01</span></li>

      
		   </ul>
	 <div class="page">
	  <a href="javascript:void(0);">首页</a>

                <a href="javascript:void(0);">&lt;</a>

                <a href="javascript:void(0);">1</a>

                <a href="javascript:void(0);">2</a>

                <a href="javascript:void(0);">3</a>

                <a href="javascript:void(0);">...</a>

                <a href="javascript:void(0);">&gt;</a>

                <a href="javascript:void(0);">末页</a>
	 </div>
 </div>
</div>
</div>
<DIV class="copyright">
<DIV class="copyright_content">
<UL>
  <LI><A href="javascript:void(0);">关于</A>
  <UL>
    <LI>品牌故事</LI>
    <LI>联系我们</LI>
    <LI>加入我们</LI>
    <LI>版权声明</LI></UL></LI>
  <LI><A href=" javascript:void(0);">课程</A>
  <UL>
    <LI>PHP开发</LI>
    <LI>前端开发</LI>
    <LI>JAVA开发</LI>
    <LI>Android开发</LI></UL></LI>
  <LI><A href=" javascript:void(0);">关注</A>
  <UL>
    <LI>新浪微博</LI>
    <LI>腾讯微博</LI>
    <LI>企业微信</LI>
    <LI>QQ空间</LI></UL></LI>
  <LI><A href="javascript:void(0);">留言</A>
  <UL>
    <LI>意见反馈</LI>
    <LI>问题留言</LI>
    <LI>媒体联络</LI>
    <LI>在线客服</LI></UL></LI>
  <LI><A href="javascript:void(0);"><IMG src="../images/weixin.png">微信关注</A>
  	   
  <UL>
    <LI><IMG src="../images/qrcode.jpg"></LI></UL></LI></UL></DIV></DIV>
</BODY>
</HTML>
