*{margin: 0;padding: 0;font-family:"Microsoft Yahei";}
html{overflow-x:hidden}
.topBanner form{position: relative;top:-20px;}
.topBanner{width:100%;height:50px;position: fixed;top: 0px;background-color: white;-webkit-box-shadow: 0 0 20px 5px #a2a1a1;-moz-box-shadow: 0 0 20px 5px #a2a1a1;box-shadow: 0 0 20px 5px #a2a1a1;z-index:100;}
#flower{margin:15px 20px 0 30px;float: left;width:20%}
.topBanner ul{list-style-type: none; }
.topBanner ul li{float: left;height:60px;line-height: 60px;width:15%;text-align: center;}
#new{position: relative;top:22px;left:-12px;}
.topBanner ul li a{text-decoration: none;color:black;}
.topBanner ul li a:hover{color:#C90000;}
#topSearch:focus{background-color: white;}
#topSearch{margin-left:30px;height:30px;position: relative;top:14px;outline: none;font-size: 18px;padding-left: 14px;border-radius: 3px;background-color:#f4f4f4 }
#register{position:relative;left:-45px;float: right; width:50px;height:30px;background-color:#D73739;color:white;text-align: center;border: none;border-radius: 3px;position: relative;top:12px; }
#login{ position:relative;left:-50px;float:right;width:50px;height:30px;background-color:#D73739;color:white;text-align: center;border: none;border-radius: 3px;position: relative;top:12px;}
#register:hover,#login:hover{background-color:#EE545B;cursor:pointer;}
#fdj{width:30px;height: 30px;position:relative;top:12px;left:-30px;}
/*第一部分*/
.banner2{overflow:hidden;width:100% !important;height:120px;background: url("images/login_header_blurbg.jpg") no-repeat;margin-top: 50px;background-size: cover;padding-top:10px;position: relative}
.banner2 h2{color:white;margin:20px 0 0 40px;}
#span1{color:white;position: relative;top:10px;left:40px;}
.banner2 ul{list-style-type: none;margin-right:3.8%;position:relative; }
.banner2 ul li{ line-height:60px; float:right;width:60px;height:60px;border-radius: 60px;position: relative;top:-70px;background-color:#eceaea;text-align:center;}
.banner2 ul li img{width:40px;height: 40px; vertical-align:middle; }
#weixin{top:15px;left:12px;}
.banner2 ul li:hover{cursor: pointer;background-color:white;}
#hr1,#hr2{width:30px;display: inline-block;}
.banner2 .hrBox{ position:absolute;top:80px;right:6%;}
#span2{color:white;position:relative;top:4px;}
/*第二部分*/
#titleBox{background-color:#FAFAFA;width:100%;height:200px;line-height: 200px; text-align: center; }
#yy{vertical-align: middle;display: inline-block;}
/*第三部分*/
#wrap{background-color:#EFEEEC;height:auto;padding-top:15px;}
#picBox{position:relative;}
#picBox .box{padding: 5px;float: left;}
#picBox .borderBox{padding: 5px;border:1px solid #CCC;box-shadow: 0 0 5px #ccc;border-radius: 5px;}
#picBox .borderBox img{width:200px;height: auto;}
