*{padding:0px;margin:0px;font-size:12px;font-family: "Microsoft Yahei"}
body{background-color:#F5F5F5;}
.top{width:100%;height:27px;background:url(images/top_bg.jpg);}
.top_content{width:1040px;margin:0 auto;}
.top_content li{list-style-image:url(images/li_bg.gif);float:right;width:70px;height:27px;line-height:27px;}
.top_content a{text-decoration:none;color:gray;}
.top_content a:hover{color:red;}
.wrap{width:1000px;margin:0 auto;}
.logo{height:80px;background-color:white;}
.logo_left{width:200px;float:left;}
.logo_right{width:250px;float:right;margin-top:20px;color:gray;}
.logo_right img{vertical-align:middle;margin-right:10px;}
.logo_right span{font-family:"Œ¢»Ì—≈∫⁄";font-size:14px;color:#C00}
.nav{height:40px;}
/*.nav_left{width:10px; background-image:url(E:/À˘”–◊ ¡œ/‘”∆ﬂ‘”∞À/images/nav_left.jpg);background-repeat:no-repeat;}*/
.nav_mid{width:1000px;height:40px;background-image:url(images/nav_bg.jpg);background-repeat:repeat-x;float:left;}
/*.nav_right{width:10px;height:40px;background-image:url(E:/À˘”–◊ ¡œ/‘”∆ﬂ‘”∞À/images/nav_right.jpg);background-repeat:no-repeat;float:left;}*/
.nav_mid_left,.nav_mid_right{float:left;}
.nav_mid_left{width:580px;}
.nav_mid_right{width:200px;padding-left:200px;}
.nav_mid_left li{float:left;list-style:none;width:90px;height:40px;line-height:40px;text-align:center;}
.nav_mid_left li a:link,.nav_mid_left li a:visited{text-decoration:none;color:#FFF;font-size:15px;font-family:"Œ¢»Ì—≈∫⁄";}
.nav_mid_left li a:hover,.nav_mid_left li a:active{text-decoration:none;color:#FF0;font-size:15px;font-family:"Œ¢»Ì—≈∫⁄";}
.search{width:160px;height:25px;margin-top:6px;background-image:url(images/search.jpg);background-repeat:no-repeat;background-position:right;padding-right:25px;border:1px solid white;}
.ad{height:320px;overflow:hidden;width:1000px;}

.main{height:240px;margin-top:4px;}
.news{width:320px;border:1px solid #E8E8E8;}
.course{width:400px;border:1px solid #E8E8E8;margin:0 7px;}
.sideBar{width:260px;}
.news,.course,.sideBar{height:240px;float:left;}
.title{height:28px;border:1px solid #E8E8E8;}
.title_left{font-weight:bold;font-size:13px;font-family:"Œ¢»Ì—≈∫⁄";color:#786F66;width:70%;float:left;line-height:28px;padding-left:15px;}
.title_right{line-height:28px;width:20%;float:right;}
.title_right a{text-decoration:none;color:#999999;}
.pic_news{height:80px;margin-top:10px;line-height:25px;}
.pic_news img,.course_pic img{float:left;margin:0 8px;}
.pic_news a,.course_pic a{text-decoration:none;color:#C00;}
.news_list{margin-top:20px;}
.news_list li{list-style:none;background-image:url(images/list.jpg);background-repeat:no-repeat;padding-left:15px;margin-top:8px;border-bottom:1px dotted #CCC; }
.news_list li a:link,.news_list li a:visited{text-decoration:none;color:#000;}
.news_list li a:active,.news_list li a:hover{text-decoration:none;color:#F00;}
.news_list 	li span{float:right;color:#999;}
.course_pic{margin:8px 0 0 0px;height:120px;line-height:20px;}
.course_type{height:37px;width:372px;background:url(images/product_type_bg.jpg)no-repeat;margin:15px auto;}
.course_type li{list-style:none;float:left;line-height:37px;margin:0 15px;text-align:center;}
.video{height:180px;border:1px solid #E8E8E8;}
.video_content{height:150px;}
.sidebar_ad{height:55px;border:1px solid #E8E8E8;margin-top:5px;}
.sidebar_ad img{width:260px;height:50px;}
.copyright{width:100%;height:200px;background-color:#E8E8E8;margin-top:10px;}
.copyright_content{width:1000px;margin:0 auto;padding-top:20px;}
.copyright_content li{list-style:none;float:left;width:200px;background:url(images/line.png)no-repeat right center;text-align:center;line-height:30px;font-family:"Œ¢»Ì—≈∫⁄";}
.copyright_content a{text-decoration:none;color:#999;font-size:15px;}
.copyright_content ul li ul li{color:#999;font-size:12px;}
*{padding:0px;margin:0px;font-size:12px;}
body{background-color:#F5F5F5;}
.top{width:100%;height:27px;background:url(images/top_bg.jpg);}
.top_content{width:1040px;margin:0 auto;}
.top_content li{list-style-image:url(images/li_bg.gif);float:right;width:70px;height:27px;line-height:27px;}
.top_content a{text-decoration:none;color:gray;}
.top_content a:hover{color:red;}
.wrap{width:1000px;margin:0 auto;}
.logo{height:80px;background-color:white;}
.logo_left{width:200px;float:left;}
.logo_right{width:250px;float:right;margin-top:20px;color:gray;}
.logo_right img{vertical-align:middle;margin-right:10px;}
.logo_right span{font-family:"Œ¢»Ì—≈∫⁄";font-size:14px;color:#C00}
.nav{height:40px;}
/*.nav_left{width:10px; background-image:url(E:/À˘”–◊ ¡œ/‘”∆ﬂ‘”∞À/images/nav_left.jpg);background-repeat:no-repeat;}*/
.nav_mid{width:1000px;height:40px;background-image:url(images/nav_bg.jpg);background-repeat:repeat-x;float:left;}
/*.nav_right{width:10px;height:40px;background-image:url(E:/À˘”–◊ ¡œ/‘”∆ﬂ‘”∞À/images/nav_right.jpg);background-repeat:no-repeat;float:left;}*/
.nav_mid_left,.nav_mid_right{float:left;}
.nav_mid_left{width:580px;}
.nav_mid_right{width:200px;padding-left:200px;}
.nav_mid_left li{float:left;list-style:none;width:90px;height:40px;line-height:40px;text-align:center;}
.nav_mid_left li a:link,.nav_mid_left li a:visited{text-decoration:none;color:#FFF;font-size:15px;font-family:"Œ¢»Ì—≈∫⁄";}
.nav_mid_left li a:hover,.nav_mid_left li a:active{text-decoration:none;color:#FF0;font-size:15px;font-family:"Œ¢»Ì—≈∫⁄";}
.search{width:160px;height:25px;margin-top:6px;background-image:url(images/search.jpg);background-repeat:no-repeat;background-position:right;padding-right:25px;border:1px solid white;}
.ad{height:320px;overflow:hidden;width:1000px;}
.ad img{width:1100px;}
.main{height:240px;margin-top:4px;}
.news{width:320px;border:1px solid #E8E8E8;}
.course{width:400px;border:1px solid #E8E8E8;margin:0 7px;}
.sideBar{width:260px;}
.news,.course,.sideBar{height:240px;float:left;}
.title{height:28px;border:1px solid #E8E8E8;}
.title_left{font-weight:bold;font-size:13px;font-family:"Œ¢»Ì—≈∫⁄";color:#786F66;width:70%;float:left;line-height:28px;padding-left:15px;}
.title_right{line-height:28px;width:20%;float:right;}
.title_right a{text-decoration:none;color:#999999;}
.pic_news{height:80px;margin-top:10px;line-height:25px;}
.pic_news img,.course_pic img{float:left;margin:0 8px;}
.pic_news a,.course_pic a{text-decoration:none;color:#C00;}
.news_list{margin-top:20px;}
.news_list li{list-style:none;background-image:url(images/list.jpg);background-repeat:no-repeat;padding-left:15px;margin-top:8px;border-bottom:1px dotted #CCC; }
.news_list li a:link,.news_list li a:visited{text-decoration:none;color:#000;}
.news_list li a:active,.news_list li a:hover{text-decoration:none;color:#F00;}
.news_list 	li span{float:right;color:#999;}
.course_pic{margin:8px 0 0 0px;height:120px;line-height:20px;}
.course_type{height:37px;width:372px;background:url(images/product_type_bg.jpg)no-repeat;margin:15px auto;}
.course_type li{list-style:none;float:left;line-height:37px;margin:0 15px;text-align:center;}
.video{height:180px;border:1px solid #E8E8E8;}
.video_content{height:150px;}
.sidebar_ad{height:55px;border:1px solid #E8E8E8;margin-top:5px;}
.sidebar_ad img{width:260px;height:50px;}
.copyright{width:100%;height:200px;background-color:#E8E8E8;margin-top:10px;}
.copyright_content{width:1000px;margin:0 auto;padding-top:20px;}
.copyright_content li{list-style:none;float:left;width:200px;background:url(images/line.png)no-repeat right center;text-align:center;line-height:30px;font-family:"Œ¢»Ì—≈∫⁄";}
.copyright_content a{text-decoration:none;color:#999;font-size:15px;}
.copyright_content ul li ul li{color:#999;font-size:12px;}
.list_main{height:350px;background-color:#FFF;margin-top:10px;}
.news_type{width:220px;height:350px;border:1px solid #E8E8E8;float:left;}
.list_box{width:770px;min-height:350px;border:1px solid #E8E8E8;float:right;}
.news_type h2{height:35px;line-height:35px;font-size:14px;font-family:"Œ¢»Ì—≈∫⁄";color:#666;background:url(images/titile_bg.gif)repeat-x;padding-left:20px;}
.news_type_content{height:365px;background:url(images/content_bg.gif)repeat-x;}
.news_type_content li{list-style:none;height:30px;line-height:30px;}
.news_type_content li a{color:#666;text-decoration:none;background:url(images/li_bg.gif)no-repeat left center;padding-left:20px;display:block;}
.news_type_content li a:hover{color:yellow;background:url(images/li_bg2.gif)no-repeat left center;background-color:#F00;}
.a{list-style:none;margin-top:8px;}
.a li{border-bottom:1px dotted #CCC;height:35px;line-height:35px;background:url(images/list.jpg)no-repeat left center;padding-left:30px;}
.a span{float:right;color:#666;}
.a li a{color:#666;text-decoration:none;}
.a li a:hover{color:red;text-decoration:underline;}
.list_box h2{height:35px;line-height:35px;font-size:14px;font-family:"Œ¢»Ì—≈∫⁄";color:#666;background:url(images/titile_bg.gif)repeat-x;padding-left:20px;}
.page{height:40px;margin-top:30px;text-align:center;}
.page a{border:1px solid #E8E8E8;text-decoration:none;margin:0 4px;padding:5px  8px;color:black;}
.page a:hover{color:white;background:red;}
